<h1>All Events</h1>

<ul>
  <% @events.each do |event| %>
    <li><%= event.title%> located at <%= event.location %> on <%= event&.date.to_date %>created by <%= event.creator.email %></li>
    <li> <%= link_to "View event", event_path(event) %></li>
  <% end %>
</ul>


<%= link_to "Create an event", new_event_path %>

<%= link_to "Sign Out", destroy_user_session_path, data: { turbo_method: "delete" } %>

